#clock {
    text-align: center;
    color: yellow;
    font-family: monospace;
    font-size: 115%;
}

#clock .date, #clock .time {
    display: inline;
}

#clock .date {
    margin-right: 0.5em;
    margin-left: 0.75em;
}
